*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:1490px;
  overflow-x:hidden;
}

/* navigation bar styles */

.header{
  width:100vw;
  height:325px;
}

.main_nav_links{
  height:50px;
  width:100vw;
}

.sub_nav{
  height:50px;
  width:100%;
  background:#40434E;
}

.banner{
  height:225px;
}

.menu_button{
  position:absolute;
  right:0;
  height:50px;
  width:50px;
  border:none;
}

.main_ul{
  background:#40434E;
  position:absolute;
  right:0;
  height:220px;
  width:40vw;
  padding:10px;
  list-style-type:none;
}

.main_ul a{
  text-decoration:none;
  color:#FFFFFA;
  display:block;
  height:22.5px;
  width:100%;
  padding:2.5px;
  transition:0.5s;
  font-family: 'Press Start 2P', cursive;
  font-size:2vw;
  line-height:20px;
}

.main_nav a:hover{
  background:#FFFFFA;
  color:#40434E;
}

.main_nav li{
  margin-top:5px;
}

.lgn_btn{
  border:none;
  padding:5px;
  font-family: 'Press Start 2P', cursive;
}

.break{
  visibility:hidden;
}

/* creates dropdown */
.sub_sub_link{
  visibility:hidden !important;
}

.hov_link:hover .sub_sub_link{
  visibility:visible !important;
  padding-left:30px;
}

.scnd_ul{
  list-style:none;
}

.lgn_link:hover{
  background:none !important;
}

/* menu button styles */
.hide{
  opacity:0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.show{
  opacity:1;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index:2;
}

.sub_nav li{
  display:inline-block;
  margin-left:10px;
  line-height:50px;
}

.sub_nav a{
  color:#FFFFFA;
  text-decoration:none;
  font-size:1.2vw;
  font-family: 'Press Start 2P', cursive;
}

.sub_nav a:hover{
  color:#912F40;
}

.sub_nav ul{
  list-style:none;
  text-align:center;
}

/* banner stlyes */

.banner li{
  display:inline-block;
}

.banner img{
  position:relative;
  animation-name:banner-show;
  animation-duration:50s;
  animation-iteration-count: infinite;
  width:100vw;
}

@keyframes banner-show{
  0%{left:0px}
  25%{left:-100%}
  50%{left:-200%}
  75%{left:-300%}
  100%{left:0px}
}

.banner ul{
  width:5000px;
}

.red{
  background:red;
}
.green{
  background:green;
}
.blue{
  background:blue;
}
.purple{
  background:purple;
}
/* navigation bar styles end */

/* wrapper styles */

.wrapper{
  width:100%;
  height:2435px;
  padding-top:10px;
}

.story_one{
  height:300px;
  width:100%;
}

.sec1_a1{
  width:50%;
  max-height:300px;
  float:left;
  padding:10px;
  border-right:solid 1px black;
  font-size:1.5vw;
}

.sec1_a2{
  width:50%;
  height:300px;
  float:left;
  padding:10px;
}

.sec1_a2 p{
  height:50%;
}
.sec1_a2 img{
  height:50%;
}
/* wrapper styles end */


/* responsive styles */

@media only screen and (min-width: 600px) {
  .menu_button{
    display:none;
  }

  .main_ul{
    top:0;
    opacity:1 !important;
    background:#FFFFFA;
    height:50px;
    width:29vw;
  }

  .main_ul a{
    color:#40434E;
    font-size:0.7em;
    display:block;
    height:40px;
  }

  .main_ul a:hover{
    border-bottom:solid 2px #080705;
    background:none;
  }

  .lgn_btn{
    padding:7px;
    color:#FFFFFA;
    background:#40434E;
    position:absolute;
    top:25px;
  }

  .lgn_link:hover{
    border:none !important;
  }

  .hov_link:hover .sub_sub_link{
    padding-left:10px;
    color:#FFFFFA;
    background:#40434E;
    line-height:40px;
  }

  .scnd_ul li{
    display:block !important;
  }

  .main_ul li{
    display:inline-block;
    margin:0;
    margin-left:10px;
  }

  .break{
    visibility:visible;
  }

  .fix{
    position:relative;
    bottom:120px;
  }

  .bord_none:hover{
    border:none !important;
  }

  .header .main_ul{
      display:block;
      width:100%;
      z-index:2;
    }
}

@media only screen and (min-width: 1200px){
  .wrapper{
    width:1200px;
    margin:0 auto;
  }

  .banner{
    width:1200px;
    margin:0 auto;
    overflow:hidden;
  }

  .banner img{
    width:1200px;
  }

  @keyframes banner-show{
    0%{left:0px}
    25%{left:-1200px}
    50%{left:-2400px}
    75%{left:-3600px}
    100%{left:0px}
  }

  .header{
    width:1200px;
    margin:0 auto;
  }

  .main_nav_links{
    width:1200px;
    position:relative;
    border-bottom:solid 2px grey;
  }

  .story_one{
    width:80%;
    margin:0 auto;
  }

}

/* login button animation */
.lgn_btn:hover .l{
 animation-name:l;
 animation-duration:5s;
 animation-iteration-count: infinite;
}

@keyframes l{
 0% {color:red;}
 25% {color:blue;}
 50% {color:pink;}
 75%{color:orange;}
 100%{color:red;}
}


.lgn_btn:hover .o{
animation-name:o;
animation-duration:5s;
animation-iteration-count: infinite;
}

@keyframes o{
0% {color:blue;}
25% {color:red;}
50% {color:orange;}
75%{color:pink;}
100%{color:blue;}
}


.lgn_btn:hover .g{
animation-name:g;
animation-duration:5s;
animation-iteration-count: infinite;
}

@keyframes g{
0% {color:pink;}
25% {color:green;}
50% {color:purple;}
75%{color:blue;}
100%{color:pink;}
}


.lgn_btn:hover .i{
animation-name:i;
animation-duration:5s;
animation-iteration-count: infinite;
}

@keyframes i{
0% {color:purple;}
25% {color:lightblue;}
50% {color:yellow;}
75%{color:brown;}
100%{color:purple;}
}



.lgn_btn:hover .n{
animation-name:n;
animation-duration:5s;
animation-iteration-count: infinite;
}

@keyframes n{
0% {color:brown;}
25% {color:lightgreen;}
50% {color:blue;}
75%{color:purple;}
100%{color:brown;}
}
/* login anaimation finished */
