*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  overflow-x:hidden;
}

.menu_button{
  border:none;
}

.header{
  height:100vh;
  width:100vw;
}

.main_nav{
  height:50px;
}

/* nav button styles when button is clicked */
.hide{
  display:none;
}
.show{
  display:block;
}

.height_inc{
  height:100vh;
}
/**/

*:focus {
    outline: 0 !important;
}

.main_nav a{
  text-decoration:none;
  display:block;
  height:50px;
  width:90%;
  margin:0 auto;
  border-bottom:solid 2px #d8d8d8;
  line-height:50px;
  padding-left:10px;
  color:#011627;
  transition:0.5s;
  z-index:3;
}

.main_nav a:visited a::before{
  color:#011627;
}

.main_nav a:hover{
  color:#F71735;
}

.main_nav img, .menu_button{
  background:#fff;
  height:50px;
}

.sub_sub_link{
  color:#F71735 !important;
  padding-left:30px !important;
}

.sub_sub_link:hover{
  color:#011627 !important;
}

/* dropdown styles */
.dropdown_btn{
  z-index:2;
}

/**/

.lgn_btn{
  height:40px;
  width:75px;
  color:#011627;
  background:#fff;
  border:none;
  border-radius:5px;
  font-size:1em;
  transition:1s;
  border-radius:5px;
  z-index:2;
  text-align:left;
}

.lgn_link{
  border:none !important;
}

/*banner styles*/
.banner li{
  display:inline-block;
}

.banner img{
  position:relative;
  animation-name:banner-show;
  animation-duration:50s;
  animation-iteration-count: infinite;
  width:100vw;
  height:95.2vh !important;
}

@keyframes banner-show{
  0%{left:0px}
  25%{left:-100%}
  50%{left:-200%}
  75%{left:-300%}
  100%{left:0px}
}

.banner ul{
  width:9000px;
  position:absolute;
}

.red{
  background: url('');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
.green{
  background: url('');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
.blue{
  background: url('');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
.purple{
  background: url('');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

/*wrapper styles*/
.story_one{
  background-image: url('images/backgroundone.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game_segments{
  background-image: url('images/backgroundtwo.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top_stories{
  background-image: url('images/background3.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest_news{
  background-image: url('images/backgroundfour.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.art1{
  position:relative;
  top:50%;
  margin:0 auto;
}

.sec1_a1{
  width:80%;
  height:20vh;
}

.sec1_a1 p{

}

.sec1_a2{
  width:80%;
  height:50vh;
}

.art1 p{
  height:15vh;
  width:100%;
  padding:20px;
}

.sec1_a2_img{
  height:35vh;
  padding-bottom:20px;
  transition:.5s ease;
  backface-visibility:hidden;
  opacity:1;
  display:block;
}

.sec_one{
  position:absolute;
  top:115%;
}

.hr-art1{
  width:80%;
  margin:auto;
}

.image_info_art1{
  position:absolute;
  bottom:-25%;
  padding:10px;
  color:#fff;
  transition:.5s ease;
}

.image_info_art1 h2{
  padding-left:20px;
}

.image_info_art1 p{
  opacity:0;
}

.sec1_a2_img:hover{
  opacity:0.5;
}

.sec1_a2_img:hover .image_info_art1{
  bottom:-10%;
  opacity:1 !important;
}

.sec1_a2_img:hover .image_info_art1 p{
  opacity:1;
}

@media only screen and (min-width: 768px){
  .menu_button{
    display:none;
  }

  .hide{
    display:block;
  }

  .main_nav a{
    border:none;
    width:125px;
    margin:0;
    font-size:0.8vw;
    text-align:center;
    padding:0 !important;
    background:#fff;
  }

  .sub_sub_link{
    position:relative;
  }

  .main_nav li{
    float:left;
    width:125px !important;
  }

  .sub_sub_link a{
    float:left;
  }

  .main_nav .main_ul li{
    display:inline-block;
    width:10%;
  }

  .scnd_ul li{
    display:block !important;
  }

  .main_nav ul{
    list-style:none;
  }

  .lgn_btn{
    position:absolute;
    right:0;
    height:50px;
    border-radius:0px;
    font-size:0.9vw;
    text-align:center;
  }

  .lgn_btn:hover{
    border-bottom:2px solid #F71735;
  }

  .main_nav a:hover{
    border-bottom:solid 2px #F71735;
  }

  .scnd_ul{
    display:none;
  }

  .hov_link:hover .scnd_ul{
    display:block;
  }
}

@media only screen and (min-width: 900px){
  .sec_one{
    position:relative;
    top:15%;
    display:block;
    width:1200px;
    margin:0 auto;
  }

  .sec1_a2_img{
    height:40vh;
  }
}

@media only screen and (max-width: 500px){
  p{
    font-size:0.7vw;
  }
}

@media only screen and (max-width: 800px){
  .story_one{
    background-image: url('images/backgroundone.jpg');
    height: 100vh;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .game_segments{
    background-image: url('images/backgroundtwo.jpg');
    height: 100vh;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .top_stories{
    background-image: url('images/background3.jpg');
    height: 100vh;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .latest_news{
    background-image: url('images/backgroundfour.jpg');
    height: 100vh;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
